/bin
/gen
/assets
/libs/mips
/libs/x86
/libs/armeabi
/libs/armeabi-v7a
/out
/obj

#Android studio
/.idea/workspace.xml
/.idea/libraries
/local.properties
/captures
*.iml #constant updates for line changes were too annoying

#Gradle
/.gradle
/*.iml
/library/build
